.manual-logger{
  width: 30%;
  height: 600px;
}

.grid-container {
  max-height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  border: 1px solid black;
}

.log-call {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.new-task {
  border-bottom: 1px solid black;
}

.manual-logger-inputarea {
  grid-column-start: 1;
  grid-column-end: 3;
  /* padding: 5px; */
}