.grid-container {
  display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 50px 50px;
}

.grid-container > * {
  height: 90%;
	width: 90%;
}

.eventsWidget {
	border: 2px solid black;
	border-radius:5px;
}

.eventsScroller {
	overflow:auto;
	height:400px;
}

.eventDate {
	border-bottom: 1px solid black;
	font-style:italic;
	list-style: none
}

.event{
	font-family:'Times New Roman';
	font-size:24px;
	cursor: pointer;
}

li {
	margin-bottom: 5px;
}

.pieChartContainer{
	padding-top:70px;
}