.grid-container {
  display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 50px 50px;
}

.grid-container > * {
  height: 90%;
	width: 90%;
}


.pieChartContainer{
	padding-top:70px;
}

.upcoming-tasks-widget {
	border: 2px solid black;
	border-radius:5px;
}

.tasks-scroller-container {
	overflow:auto;
	height:400px;
}

/* ------------- */

.task-date {
	font-style:italic;
	float: right;
	font-size: 18px;
	margin-right: 5px;
}

.task-body {
	border-bottom: 1px solid black;
	list-style: none;
}

.task-title{
	font-family:'Times New Roman';
	font-size:24px;
	cursor: pointer;
}

li {
	margin-bottom: 5px;
}
